	@import url(./normalize.css);

	/* Custom style */
	.navbar {
		margin-bottom: 1rem;
	}

	button {
		background: none;
		color: inherit;
		border: none !important;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
		background-color: black;
	}